body{
    background-color: rgba(rgb(164, 164, 164), green, blue, alpha);
}


.cardmain{
    margin-top: 150px;
    border-radius: 15px;
}

.contenedor{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}
